{#
    Copyright (c) 2026 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : Custom-SQL With Task == #}
{# == Node Type Description    : This node executes customSQL with can be part of DAG == #}

{# Development mode -To test the SQL the task will execute to make sure it runs without errors and returns the expected data #}

{%- if config.devMode %}
    {%- if node.override.create.enabled %}
        {{ stage('Execute Custom-SQL') }}
        {{ node.override.create.script }}
    {%- endif %}
{%- else %}
    {{ stage('Task Mode - No Manual Run') }}
    -- This node is configured to run as a scheduled task
    -- Manual Run is only available when Development Mode is enabled
    -- To execute this task, wait for the scheduled run or manually execute: EXECUTE TASK {{node.name + '_TASK'}}
    SELECT 1 AS INFO_MESSAGE WHERE FALSE
{%- endif %}

