{{stage('Print')}}

{{ (
  desiredState.sources[0].columns
  | selectattr("sourceColumns", "defined")
  | selectattr("sourceColumns", "ne", [{}])
  | first
).sourceColumns[0].node.location.name }}