{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalsce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Version        : 1  == #}
{# == Node Type Name           : Task DAG Create Root == #}
{# == Node Type Description    : This node creates a standalone root task that initiates a run of the DAG == #}


{# Parameter Check for Deployment #}
{%if desiredState and currentState != desiredState and desiredState.config.schedulingMode == 'Warehouse Task' %}
     {% if desiredState.parameters == {} or 'targetTaskWarehouse' not in  desiredState.parameters or desiredState.parameters.targetTaskWarehouse == ''%}

         {{stage('WARNING')}}
         
          /*Add parameter targetTaskWarehouse in workspace settings and deployment environment for successful execution of node.
          The default value for the parameter is 'DEV ENVIRONMENT'.
          For more information, refer to the documentation.*/
	{%endif%}
{%endif%}

{% if (currentState == undefined and desiredState != undefined) or (currentState != undefined and desiredState != undefined ) and (currentState != desiredState) %}

{% set targetNodeDatabase = ref_no_link(desiredState.node.location.name, desiredState.node.name).split('.')[0] %} 
{% set targetNodeSchema = ref_no_link(desiredState.node.location.name, desiredState.node.name).split('.')[1] %} 

{# Task Info #}
{% set taskName = desiredState.node.name  %}
{% set fullyQualifiedTaskName = ref_no_link(desiredState.node.location.name, taskName) %}
      {# Task Type #}
        {%- if desiredState.config.schedulingMode == 'Warehouse Task' -%} 
            {# Can be updated during deployment via a parameter to account for different warehouse names in different deployments #}
           {% if 'targetTaskWarehouse'  in  desiredState.parameters %}
			{% if desiredState.parameters.targetTaskWarehouse == 'DEV ENVIRONMENT' %}
                {% set taskType = 'WAREHOUSE = ' + desiredState.config.whName %}
            {% else %}
                {% set taskType = 'WAREHOUSE = ' + desiredState.parameters.targetTaskWarehouse %}
            {% endif %}
		   {% endif %}
        {%- else -%}
            {%- set taskType = 'USER_TASK_MANAGED_INITIAL_WAREHOUSE_SIZE = ' + desiredState.config.serverlessSize -%} 
        {%- endif -%}
{% set nsVariables = namespace() %}

{# Set Namespace Variables #}
            {% set nsVariables = namespace(taskWhenRun="") %}
            {% set nsVariables = namespace(poll="WHEN ") %}
			
{# Schedule Type #}
{%- if desiredState.config.schedulePeriodOption == 'Minutes' -%} 
    {%- set nsVariables.taskWhenRun = 'SCHEDULE = ' + "'" + desiredState.config.schedulePeriod + ' MINUTE' + "'" -%} 
{% elif desiredState.config.schedulePeriodOption == 'CRON'  %}
    {%- set nsVariables.taskWhenRun = 'SCHEDULE = ' + "'" + 'USING CRON ' + desiredState.config.scheduleCRON+"'" %}
{%- endif -%}

{# When Stream has data logic #}
{# Source Stream Location and Name #}
    {% if desiredState.config.schedulePeriodOption == 'Triggered task' %}
                {% for source in desiredState.sources %}
                    {% for dep in source.dependencies %}
                        {% if (dep.node.materializationType == 'stream') %}
                            {% set streamStorageLocation = dep.node.location.name %}
                            {% set streamSourceDatabase = desiredState.storageLocations | selectattr('name', 'equalto', streamStorageLocation) | map(attribute='database') | first %}
                            {% set streamSourceSchema = desiredState.storageLocations | selectattr('name', 'equalto', streamStorageLocation) | map(attribute='schema') | first %}
                            {% set streamSourceName = dep.node.name %}

                            {%- if nsVariables.poll == 'WHEN ' -%}
                                {% set nsVariables.poll = nsVariables.poll + 'SYSTEM$STREAM_HAS_DATA(\'"' + streamSourceDatabase + '"."'  + streamSourceSchema + '"."' + streamSourceName + '"\')'  %}
                            {% else %}
                                {% set nsVariables.poll = nsVariables.poll + desiredState.config.multiStreamBehavior + ' SYSTEM$STREAM_HAS_DATA(\'"' + streamSourceDatabase + '"."'  + streamSourceSchema + '"."' + streamSourceName + '"\')'  %}
                            {%- endif -%}
                        {%- endif -%}
                    {% endfor %}
                {% endfor %}
    {% endif -%}

{{ stage('Suspend Root Task',true,"sql","create") }}
ALTER TASK IF EXISTS {{ fullyQualifiedTaskName }} SUSPEND

{{ stage('Create Task',true,"sql","create") }}
{%if desiredState.config.schedulePeriodOption == 'Triggered task' %}
{%set temp_trig_name = "TMP_"+ desiredState.node.name+ "_TRIGGER" %}
   CREATE OR REPLACE TASK 
      {{ fullyQualifiedTaskName }} 
      {{ taskType}} 
      {{ nsVariables.taskWhenRun }} 
      {% if nsVariables.poll != 'WHEN ' %} {{ nsVariables.poll }} {% endif %}
   AS 
   CREATE OR REPLACE TEMPORARY TABLE {{ ref_no_link(desiredState.node.location.name, temp_trig_name) }} AS
   {%- for source in desiredState.sources -%}
     {%- for dep in source.dependencies %}
        {% if (dep.node.materializationType == 'stream') %}
         {% set streamStorageLocation = dep.node.location.name %}
            {% set streamSourceName = dep.node.name %}         
              SELECT COUNT(*) AS row_count FROM {{ ref(streamStorageLocation,streamSourceName) }}
              {% if not loop.last %}
                    UNION
              {% endif %}
        {%- endif -%}
     {%endfor%}
    {%endfor%}
{%else%}
  CREATE OR REPLACE TASK 
      {{ fullyQualifiedTaskName }} 
      {{ taskType}} 
      {{ nsVariables.taskWhenRun }} 
      {% if nsVariables.poll != 'WHEN ' %} {{ nsVariables.poll }} {% endif %}
  AS 
  {{desiredState.config.tskSql }} 

{%endif%}

{% elif desiredState == undefined and currentState != undefined%}

{# Task Info #}
{% set targetNodeDatabase = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[0] %} 
{% set targetNodeSchema = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[1] %} 

{# Task Info #}
{% set taskName = currentState.node.name  %}
{% set fullyQualifiedTaskName = ref_no_link(currentState.node.location.name, taskName) %}

{{ stage('Suspend Root Task',true,"sql","create") }}
    ALTER TASK IF EXISTS {{ fullyQualifiedTaskName }} SUSPEND
{{ stage('Drop Current Task',true,"sql","create") }}
    DROP TASK IF EXISTS {{ fullyQualifiedTaskName }} 

{% endif %}
